<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
	<add key="Words" value="car,pussycat,baby,door,banana,finger,fence,big,swimming,pool,sun,church,yo-yo,boy,bag,alligator,mouse,birthday,winter,beach,tree,teacher,king,telephone,eye,water,jelly,balloon,toothbrush,pants,mom,body,bike,toilet,paper,baseball,pig,lawn,mower,fire school,belt,pajamas,mud,ice,cream,cone,arm,drums"/>
	</appSettings>
</configuration>